<!-- Suponiendo que el formulario se abrirá en una nueva sección o página para la modificación -->
<div class="form-container" *ngIf="formProducto">
  <form [formGroup]="formProducto" (ngSubmit)="modificarProducto()">
      <div class="input-group">
          <label for="barrio">Barrio:</label>
          <input id="barrio" type="text" formControlName="barrio">
      </div>
      <div class="input-group">
          <label for="descripcion">Descripción:</label>
          <input id="descripcion" type="text" formControlName="descripcion">
      </div>
      <div class="input-group">
          <label for="price">Precio:</label>
          <input id="price" type="number" formControlName="price">
      </div>
      <div class="input-group">
          <label for="urlImagen">Url Imagen:</label>
          <input id="urlImagen" type="text" formControlName="urlImagen">
      </div>
      <button type="submit" class="btn">Modificar Producto</button>
  </form>
</div>
